In [10]:
import numpy as np 
import pandas as pd
from sklearn import tree
df = pd.read_csv('DecisionTreesClassificationDataSet.csv')

In [11]:
df.head()

   Deneyim Yili SuanCalisiyor?  Eski Calistigi Firmalar Egitim Seviyesi Top10 Universite? StajBizdeYaptimi? IseAlindi
0            11              Y                        4              BS                 N                 N         Y
1             0              N                        0             PhD                 Y                 Y         Y
2             5              Y                        2              MS                 N                 Y         Y
3             3              N                        1              BS                 N                 Y         Y
4             0              N                        0              BS                 N                 N         N

In [12]:
duzeltme_mapping = {'Y': 1,'N': 0}
df['SuanCalisiyor?']=df['SuanCalisiyor?'].map(duzeltme_mapping)
df['Top10 Universite?']=df['Top10 Universite?'].map(duzeltme_mapping)
df['StajBizdeYaptimi?']=df['StajBizdeYaptimi?'].map(duzeltme_mapping)
df['IseAlindi']=df['IseAlindi'].map(duzeltme_mapping)
duzeltme_mapping_egitim = {'BS':0,'MS':1,'PhD':2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(duzeltme_mapping_egitim)
df.head()

   Deneyim Yili  SuanCalisiyor?  Eski Calistigi Firmalar  ...  Top10 Universite?  StajBizdeYaptimi?  IseAlindi
0            11               1                        4  ...                  0                  0          1
1             0               0                        0  ...                  1                  1          1
2             5               1                        2  ...                  0                  1          1
3             3               0                        1  ...                  0                  1          1
4             0               0                        0  ...                  0                  0          0

[5 rows x 7 columns]

In [21]:
X = df.drop(['IseAlindi'],axis=1)
y = df['IseAlindi']

In [25]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

import warnings
warnings.filterwarnings('ignore')

In [26]:
#predict ,
print(clf.predict([[5,1,3,0,0,0]]))

[1]

In [27]:
print (clf.predict([[10,2,3,0,0,0]]))

[1]